{% extends 'layout/base-front-layout.html.twig' %}

{% block title %}Книжный магазин{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Категории книг</h1>
        {% if categories %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for category in categories %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{{ url('category_view', { 'slug': category.slug }) }}">{{ category.title }}</a></h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h5>Пожалуйста, зайдите позже - идёт наполнение каталога.</h5>
        {% endif %}
    </div>
{% endblock %}
